@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #1867c0;
  --primary-bg-color: #fafafa;
  --container-padding: 0.7rem 2rem 2rem;
  --container-padding-y: 0.7rem;
  --container-padding-x: 2rem;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
